@model FashionStore.Domain.DTOs.CategoriaDTO

@{
    ViewData["Title"] = "Eliminar Categoría";
}

<h1 class="mt-4 text-danger">
    Eliminar Categoría
</h1>

<h4>
    ¿Está seguro de eliminar esta categoría?
</h4>

<hr />

<dl class="row">

    <dt class="col-sm-2">
        Nombre
    </dt>

    <dd class="col-sm-10">
        @Model.Nombre
    </dd>

    <dt class="col-sm-2">
        Descripción
    </dt>

    <dd class="col-sm-10">
        @Model.Descripcion
    </dd>

</dl>

<form asp-action="Delete">

    <input type="hidden" asp-for="Id" />

    <button type="submit"
            class="btn btn-danger">
        Eliminar
    </button>

    <a asp-action="Index"
       class="btn btn-secondary">
        Volver
    </a>

</form>