@model FashionStore.Domain.DTOs.ClienteDTO

@{
    ViewData["Title"] = "Eliminar Cliente";
}

<h1>Eliminar Cliente</h1>

<h3>
    ¿Deseas eliminar este cliente?
</h3>

<hr />

<dl class="row">

    <dt class="col-sm-3">Nombre</dt>
    <dd class="col-sm-9">@Model.NombreCompleto</dd>

    <dt class="col-sm-3">DNI</dt>
    <dd class="col-sm-9">@Model.DNI</dd>

</dl>

<form asp-action="Delete">

    <input type="hidden" asp-for="Id" />

    <button type="submit"
            class="btn btn-danger">
        Eliminar
    </button>

    <a asp-action="Index"
       class="btn btn-secondary">
        Volver
    </a>

</form>